$output-bourbon-deprecation-warnings: false;

//@formatter:off
$theme-style:                       'square';
$theme-type:                        'default';
$assets-path:                        '../../assets/' !default;
//$metronic-assets-path:              '../../node_modules/metronic/assets/' !default;
$metronic-assets-path:              '../../assets/metronic/' !default;
$global-img-path:           		$metronic-assets-path + 'global/img/' ;
$page-img-path:           			$metronic-assets-path + 'pages/img/' ;
$page-media-path:           		$metronic-assets-path + 'pages/media/' ;
$layout-img-path:           		$metronic-assets-path + 'layouts/layout6/img/' ;
$icon-font-path:                    $metronic-assets-path + 'global/plugins/bootstrap/fonts/bootstrap/' ;


$fa-font-path:                      $assets-path +'fonts/';
$simple-line-font-path:             $assets-path +'fonts/';


@import "~bourbon/app/assets/stylesheets/bourbon";
@import '~metronic/sass/bootstrap/variables';
@import '~metronic/sass/bootstrap/mixins';

@import "~metronic/sass/layouts/layout6/variables";

@import "~metronic/sass/layouts/layout6/mixins";

@import '~metronic/sass/global/_variables';
@import '~metronic/sass/global/_bootstrap-override';
@import '~metronic/sass/global/components/_mixins';


